.container-fluid{
    background-image: url(https://i.pinimg.com/originals/2b/af/d4/2bafd47c9b01344190b6e37860c15963.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    color: white;

}
button{

}