<app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
<hr>
<div class="container-fluid">
      <ul>
        <li class="card-text" appHighlight *ngFor=" let quote of quotes ; let i= index " >
            <img style="width: 2.5%; height: 2.5%;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQukLCO6U3gggdHScojG3o9xLIAAJbRIie2w&usqp=CAU" >{{quote.quote}}<br>
            <button class="btn btn-dark" (click)='toggleDetails(i)'>Show Details</button>
            <app-quotes-detail *ngIf='quote.hasDetails'[quote]='quote'(isComplete) = 'deleteQuote($event,i)'></app-quotes-detail><br>
            <app-vote></app-vote>
            <br><hr>
          </li> 
      </ul>    
</div>
