<app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
<hr>
<div class="container-fluid">
    <div class="row ">
      <div class="">
      <ul>
        <li appHighlight *ngFor=" let quote of quotes ; let i= index " >
           <img style="width: 2.5%; height: 2.5%;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQukLCO6U3gggdHScojG3o9xLIAAJbRIie2w&usqp=CAU" >{{quote.quote}}<br>
          
           <button (click)='toggleDetails(i)'>Show Details</button>
          
           <app-quotes-detail *ngIf='quote.hasDetails'[quote]='quote'(isComplete) = 'deleteQuote($event,i)'></app-quotes-detail><br>
           <button (click)='upVote()'><img style="width: 5%; height: 5%;"src="assets/likes.png" alt="likes image">{{upVotes}}Likes</button>
           <button (click)='downVote()'><img style="width: 5%; height: 5%;"src="assets/dislike3.png" alt="dislikes image">{{downVotes}}Dislikes</button> <br>
           <button (click)= 'quoteDelete(true)'>Delete Quote</button><br><hr>


        </li> 
      </ul>    
    </div>
    <div class="col-md-6">
     
 </div>
   
</div>
