<div  class="container-fluid">
    <h2 class="text-center"></h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="quote">Quote</label>
            <textarea type="text" rows="4" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" placeholder="Type in your quote..." #quote='ngModel' required></textarea>
            
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
              <p>Quote is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="author">Author</label>
            <textarea class="form-control" id="author" [(ngModel)]="newQuote.author" placeholder="Author's name..." name="author" #author="ngModel" required></textarea>
            
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Author is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="person">Publisher</label>
            <textarea class="form-control" id="person" [(ngModel)]="newQuote.person" name="person" placeholder="Publisher's name..." #person="ngModel" required></textarea>
            
            <div [hidden]="person.valid || person.pristine" class="alert alert-danger">
              <p>Publisher is required</p>
            </div>
        </div>
        <div style="color: black;" class="form-group">
  
            <label style="color: white;" for="complete">Date</label><br>
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <p style="color: black;">
        Quote:  {{newQuote.quote}}<br>
        Author:  {{newQuote.author}}<br>
        Publisher:  {{newQuote.person}}<br></p>
        <button type="submit" class="btn btn-dark">Add Quote</button>
    </form>
  </div>
  
  